$white: #FFF;
$theme-color: #35d32f;
$theme-color-focus: #2bb226;
$theme-color-dark: #20851c;

/* Sidebar - White background & black text */
.sidebar {
    background: #fff !important;
}

@media (min-width: 991px) {
    .sidebar {
        background: #fff !important;
    }
}

.sidebar-brand {
    background-color: #fff !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0588235294);
}

.sidebar-scroll {
    background: #fff !important;
}

#timeline .post-content .post-date span {
    background: $theme-color;
}

.sidebar-menu {
    li {
        a {
            color: #222 !important;

            svg,
            i {
                color: #222 !important;
                stroke: currentColor;
            }

            &:active,
            &:hover,
            &:focus {
                color: #000 !important;
                background-color: #f3f4f6;

                svg,
                i {
                    color: #000 !important;
                }
            }
        }

        ul {
            li {
                a {
                    color: #444 !important;

                    &:hover {
                        color: #000 !important;
                        background-color: #f3f4f6;
                    }
                }

                &.active a,
                a.active {
                    color: $theme-color !important;
                    font-weight: 600;
                }
            }
        }
    }

    li.active {
        >a {
            color: $white !important;
            background-color: $theme-color !important;

            svg,
            i,
            span {
                color: $white !important;
            }

            &:hover,
            &:focus {
                color: $white !important;
                background-color: $theme-color-focus !important;
            }

            .badge {
                background-color: #fff !important;
                color: $theme-color !important;
            }
        }
    }
}

.sidebar-toggled {
    .sidebar-menu {
        li {
            &:hover {
                background-color: #f3f4f6;
            }

            &.active:hover {
                background-color: $theme-color;
            }
        }
    }
}

.nav-tabs {
    li {
        a {
            &:hover,
            &:focus,
            &:active {
                color: $theme-color !important;
            }
        }

        .active,
        &.active {
            color: $theme-color !important;
        }

        &:not(.title-tab) a::after {
            background-color: $theme-color;
        }
    }
}

.list-group-item.active {
    background: $theme-color;
    border-color: $theme-color;

    &:focus,
    &:hover {
        background: $theme-color;
        border-color: $theme-color;
    }
}

.btn-primary {
    background-color: $theme-color;
    border-color: $theme-color;

    &:hover,
    &:active,
    &:focus {
        background-color: $theme-color-focus !important;
        border-color: $theme-color-focus !important;
        color: $white;
    }
}

.bg-success {
    background-color: $theme-color-focus !important;
}

a {
    color: $theme-color-focus;

    &:hover,
    &:focus,
    &:active {
        color: $theme-color-dark;
    }
}

.circle-done {
    color: $theme-color;
}

.app-alert {
    &.alert-success {
        background-color: $theme-color-focus;
        color: #fff;
    }
}

.bg-dark-success {
    background: $theme-color-dark;
}

.dataTable tbody tr.active {
    td,
    &:hover td {
        background: $theme-color !important;
    }
}

td {
    &.dropdown-option button {
        &:hover {
            background: $theme-color;
            border-color: $theme-color;
        }
    }
}

.select2-results .select2-highlighted {
    background-color: $theme-color;
}

.datepicker table tr td {
    &.active.active {
        background: $theme-color;
        border-color: $theme-color;

        &:hover {
            background: $theme-color;
            border-color: $theme-color;
        }
    }

    span.active {
        &.active,
        &:hover.active {
            background: $theme-color;
            border-color: $theme-color;
        }

        &.disabled {
            &.active,
            &:hover.active {
                background: $theme-color;
                border-color: $theme-color;
            }
        }

        &.active:hover {
            background: $theme-color;
            border-color: $theme-color;
        }
    }
}

.atwho-view .cur,
.note-hint-group .active,
.note-hint-item:hover {
    background-color: $theme-color !important;
}

.sidebar-scroll {
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.15);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.25);
    }

    &::-webkit-scrollbar-thumb:active {
        background: rgba(0, 0, 0, 0.25);
    }
}

.bg-primary {
    background-color: $theme-color !important;
}

@media (max-width: 500px) {
    .sidebar {
        &.sidebar-off {
            background-color: #fff !important;
        }

        .sidebar-scroll {
            border-top-color: rgba(0, 0, 0, 0.0588235294) !important;
        }

        #left-menu-topbar-button-container .nav-link,
        .sidebar-toggle-btn {
            color: #222 !important;
        }
    }
}

.form-check-input {
    &:checked {
        background-color: $theme-color !important;
        border-color: $theme-color !important;
    }
}
